.banner_top{
    margin-bottom: 48px;
display: flex;
align-items: center;
justify-content: space-between;
}
.banner{
    margin-bottom: 72px;
}
.banner_top h3{
    font-family: var(--second-family);
font-weight: 300;
font-size: 36px;
line-height: 178%;
letter-spacing: 0.08em;
color: var(--gray-dark);
}
.banner_top button{
    border-radius: 4px;
width: 118px;
height: 48px;
background: var(--gray-bg);
font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
line-height: 125%;
letter-spacing: 0.03em;
text-align: center;
color: var(--gray-second-text);
border: none;
}
.banner_bottom{
    display: flex;
    align-items: center;
    gap: 24px;
}