.limon{
    background-image: url("/src/img/limon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 72px;
    box-shadow: 0 2px 16px 0 rgba(60, 62, 74, 0.08);
    width: 1440px;
height: 284px;
position: relative;

}
.limon_wrapper{
    padding: 79px 0;
    position: absolute;
right: 316px;
    display: flex;
    align-items: center;
gap: 25px;
}